<turbo-stream action="append" target="messages">
    <template>
        <div class="flex flex-row justify-end">
            <div class="flex flex-col">
                <p class="px-5 py-3 bg-gray-400 rounded-lg" >
                    {{ message }}
                </p>
                <span class="text-sm text-slate-500 mt-2">
                    1:55pm
                </span>
            </div>
        </div>
    </template>
</turbo-stream>